# IMD Project

- Robert Yonce
- 4/26/23
- Updated 5/4/23

## Imports and Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Basics

basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama

In [3]:
# Basics

# basics = pd.read_csv('https://datasets.imdbws.com/title.basics.tsv.gz', sep='\t', low_memory=False)
# basics.head()

In [4]:
# Ratings


ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1965
1  tt0000002            5.8       263
2  tt0000005            6.2      2607
3  tt0000006            5.2       181
4  tt0000007            5.4       816

In [5]:
# Ratings

# ratings = pd.read_csv('https://datasets.imdbws.com/title.ratings.tsv.gz', sep='\t', low_memory=False)
# ratings.head()

In [6]:
# Akas

akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [7]:
# Akas

# akas = pd.read_csv('https://datasets.imdbws.com/title.akas.tsv.gz', sep='\t', low_memory=False)
# akas.head()

## Filtering Data - Missing Values

In [8]:
# Replace \N values

basics = basics.replace({'\\N':np.nan})
ratings = ratings.replace({'\\N':np.nan})
akas = akas.replace({'\\N':np.nan})

In [9]:
# Exclude any movie with missing values for genre or runtime

print(f'There are {basics.isna().sum().sum()} missing values.')

print(basics.isna().sum())

There are 81627 missing values.
tconst                0
titleType             0
primaryTitle          0
originalTitle         0
isAdult               0
startYear             0
endYear           81627
runtimeMinutes        0
genres                0
dtype: int64

In [10]:
# Drop genres

basics.dropna(subset = 'genres', inplace = True)

In [11]:
# Drop runtimeMinutes

basics.dropna(subset = 'runtimeMinutes', inplace = True)

In [12]:
# Check values again

print(f'There are {basics.isna().sum().sum()} missing values.')

print(basics.isna().sum())

There are 81627 missing values.
tconst                0
titleType             0
primaryTitle          0
originalTitle         0
isAdult               0
startYear             0
endYear           81627
runtimeMinutes        0
genres                0
dtype: int64

## Filtering Data - Movie

In [13]:
# Include only full-length movies (titleType = "movie").

movie = basics['titleType'] == 'movie'
basics = basics[movie]
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama

## Filtering Data - Documentary

In [14]:
# Include only fictional movies (not from documentary genre)

is_documentary = basics['genres'].str.contains('documentary', case=False)
basics = basics[~is_documentary]
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama

## Filtering Data - StartYear 2000-2021

In [15]:
basics['startYear'].astype('float')
# years = basics['startYear'].between(2000, 2021, 'both')
basics = basics[(basics['startYear']>=2000)&(basics['startYear']<2023)]
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama

## Filtering Data - US Only

In [16]:
# Create filter in akas DF

usa = akas['region'] == 'US'
akas = akas[usa]
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [17]:
# Filter the basics table down to only include the US by using the filter akas dataframe

keepers = basics['tconst'].isin(akas['titleId'])
keepers

0        True
1        True
2        True
3        True
4        True
         ...
81622    True
81623    True
81624    True
81625    True
81626    True
Name: tconst, Length: 81627, dtype: bool

In [18]:
# Created final DF

basics = basics[keepers]
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama

In [19]:
# Filter the basics table down to only include the US by using the filter akas dataframe

keepers2 = ratings['tconst'].isin(akas['titleId'])
keepers2

0         True
1         True
2         True
3         True
4         True
          ...
496659    True
496660    True
496661    True
496662    True
496663    True
Name: tconst, Length: 496664, dtype: bool

In [20]:
# Created final DF

ratings = ratings[keepers2]
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1965
1  tt0000002            5.8       263
2  tt0000005            6.2      2607
3  tt0000006            5.2       181
4  tt0000007            5.4       816

## Final DF with Info

In [21]:
# Basics

basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81627 entries, 0 to 81626
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81627 non-null  object
 1   titleType       81627 non-null  object
 2   primaryTitle    81627 non-null  object
 3   originalTitle   81627 non-null  object
 4   isAdult         81627 non-null  int64
 5   startYear       81627 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  81627 non-null  int64
 8   genres          81627 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 6.2+ MB

In [22]:
# Ratings

ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 496664 entries, 0 to 496663
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         496664 non-null  object
 1   averageRating  496664 non-null  float64
 2   numVotes       496664 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.2+ MB

In [23]:
# Akas

akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1432658 entries, 0 to 1432657
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1432658 non-null  object
 1   ordering         1432658 non-null  int64
 2   title            1432658 non-null  object
 3   region           1432658 non-null  object
 4   language         3894 non-null     object
 5   types            978158 non-null   object
 6   attributes       46456 non-null    object
 7   isOriginalTitle  1431313 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 98.4+ MB

## Creating New Folder & Files

In [24]:
# example making new folder with os

import os

os.makedirs('Data/',exist_ok=True)

# Confirm folder created

os.listdir("Data/")

['final_tmdb_data_2022.csv.gz',
 'tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'tmdb_api_results_2001.json',
 'title_basics.csv.gz',
 'tmdb_api_results_2021.json',
 'tmdb_api_results_2022.json',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'title_akas.csv.gz',
 'title_ratings.csv.gz']

In [25]:
# Save current dataframe to file.

basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

# Part 2

## Imports

In [26]:
import os, time,json
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook

FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['final_tmdb_data_2022.csv.gz',
 'tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'tmdb_api_results_2001.json',
 'title_basics.csv.gz',
 'tmdb_api_results_2021.json',
 'tmdb_api_results_2022.json',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'title_akas.csv.gz',
 'title_ratings.csv.gz']

In [27]:
# Keys to open

with open('/Users/robertyonce/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()


tmdb.API_KEY =  login['api-key']

## Functions

In [28]:
def movie_rating(movie_id):
    
    # Get the movie object for the current id
    
    movie = tmdb.Movies(movie_id)
    
    # save the .info .releases dictionaries
    
    info = movie.info()
    releases = movie.releases()
    
    # Loop through countries in releases
    
    for c in releases['countries']:
        
        # if the country abbreviation==US
        
        if c['iso_3166_1' ] =='US':
            
            ## save a "certification" key in the info dict with the certification
            
           info['certification'] = c['certification']
    
    return info

In [29]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

## Making Variables

In [30]:
# Load in the dataframe from project part 1 as basics:

basics = pd.read_csv('Data/title_basics.csv.gz')

In [37]:
# Years needed

YEARS_TO_GET = [2022]

In [38]:
# Keep track of errors that occur

errors = [ ]

## Loop for the Years

In [39]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    
    #Defining the JSON file to store results for year

    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
    
    # If it does not exist: create it
    if file_exists == False:
    # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
    
    #Saving new year as the current df
    df = basics.loc[basics['startYear']==YEAR].copy()
    # saving movie ids to list
    movie_ids = df['tconst'].copy()
    
    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)

    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
    
    #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve then data for the movie id
            temp = movie_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
            errors.append([movie_id, e])
            
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)
    
print(f"- Total errors: {len(errors)}")

YEARS:   0%|          | 0/1 [00:00<?, ?it/s]

Movies from 2022: 0it [00:00, ?it/s]

- Total errors: 0

## Testing our function

In [ ]:
# Testing our function on two movies

test_ids = ["tt0848228", "tt0332280"]
results = []
for movie_id in test_ids:
    
    try:
        movie_info = movie_rating(movie_id)
        results.append(movie_info)
        
    except: 
        pass
    
pd.DataFrame(results)